<div class="modal-header">
  <div class="modal-title h4">{{publishLabel}} selected matches</div>
</div>
<div class="modal-body overlay overlay-block cursor-default">
  <ng-container *ngIf="isLoading">
    <div class="overlay-layer">
      <div class="spinner spinner-lg spinner-primary"></div>
    </div>
  </ng-container>
  <form action="#" class="form form-label-right" [formGroup]="formGroup">
    <div class="form-group row">
      <div class="col-lg-4">
        <label for="example-search-input" class="col-6 col-form-label">Publish to:</label> 
        <div class="col-8">
          <select class="form-control" name="published" formControlName="published">
            <option value="">All</option>
            <option value="m88">M88</option>
            <option value="mgoal88">MGOAL88</option>
          </select>
        </div>
      </div>
    </div>
  </form>
  <div class="table-responsive angular-bootstrap-table">
    <table class="table table-head-custom table-vertical-center overflow-hidden">
      <thead>
        <th>MATCH ID</th>
        <th>TOURNAMENT</th>
        <th>HOME TEAM</th>
        <th>AWAY TEAM</th>
        <th>MATCH DATE</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of matches">
          <td>{{item.id}}</td>
          <td>{{item.tournament}}</td>
          <td>{{item.homeTeam}}</td>
          <td>{{item.awayTeam}}</td>
          <td>{{ item.matchDate| date: 'M/d/yy h:mm a' }}</td>
      </tbody>
    </table>
  </div>
</div>

<div class="modal-footer">
  <div>
    <button *ngIf="isPublish" type="button" class="btn btn-primary btn-elevate mr-2" (click)="publish()">Publish</button>
    <button *ngIf="!isPublish" type="button" class="btn btn-danger btn-elevate mr-2" (click)="unpublish()">Unpublish</button>
    <button type="button" class="btn btn-light btn-elevate" (click)="modal.dismiss()">Cancel</button>
  </div>
</div>