<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <ng-container *ngIf="_match">
        <ng-container *ngIf="_match.id">Edit</ng-container>
        _match '{{ _match.id }}'
      </ng-container>
    </div>
  </div>
  <div
    class="overlay overlay-block cursor-default modal-body"
    style="min-height: 404px">
    <ng-container *ngIf="isLoading$ | async">
      <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>
    <ng-container *ngIf="_msg$ | async as _msg">
      <div
        class="mb-10 alert alert-custom alert-light-danger alert-dismissible"
      >
        <div class="alert-text">{{_msg}}</div>
      </div>
    </ng-container>
    <ng-container *ngIf="_match">
      <form action="#" class="form form-label-right" [formGroup]="formGroup">
        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label">League</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="tournament"
              placeholder="League"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('tournament')"
              [class.is-valid]="isControlValid('tournament')"
              formControlName="tournament"
              [readonly]="true"
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label">Home Team</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="homeTeam"
              placeholder="Home Team"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('homeTeam')"
              [class.is-valid]="isControlValid('homeTeam')"
              formControlName="homeTeam"
              [readonly]="true"
            />
          </div>
          <div class="col-lg-4">
            <label class="form-label">Home Team Icon</label>
            <input type="file" class="file-upload" style="display: none;" (change)="onFileSelected($event, true)" #homeTeamFileUpload/>
            <div>
              {{_match.homeTeamIcon || "No file uploaded yet."}}
              <button class="btn btn-primary"
                (click)="homeTeamFileUpload.click()">
                <span class="fas fa-upload"></span>
              </button>
              <img *ngIf="!_isHomeTeamFileLocal" src='{{_apiURL + "/mgoalfeed/getteamicon?filename=" + _match.homeTeamIcon}}'/>
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-4">
            <label class="form-label">Away Team</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="awayTeam"
              placeholder="Away Team"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('awayTeam')"
              [class.is-valid]="isControlValid('awayTeam')"
              formControlName="awayTeam"
              [readonly]="true"
            />
          </div>
          <div class="col-lg-4">
            <label class="form-label">Away Team Icon</label>
            <input type="file" class="file-upload"  style="display: none;" (change)="onFileSelected($event, false)" #awayTeamFileUpload/>
            <div>
              {{_match.awayTeamIcon || "No file uploaded yet."}}
              <button class="btn btn-primary"
                (click)="awayTeamFileUpload.click()">
                <span class="fas fa-upload"></span>
              </button>
              <img *ngIf="!_isAwayTeamFileLocal" src='{{_apiURL + "/mgoalfeed/getteamicon?filename=" + _match.awayTeamIcon}}'/>
            </div>
          </div>
        </div>
      </form>
    </ng-container>
  </div>
  <div class="modal-footer">
    <ng-container *ngIf="_match">
      <button
        type="submit"
        class="btn btn-primary btn-elevate mr-2"
        (click)="save()"
      >
        Save
      </button>
    </ng-container>
    <button
      type="button"
      class="btn btn-light btn-elevate mr-2"
      (click)="modal.dismiss()"
    >
      Cancel
    </button>
    <button
      type="button"
      class="btn btn-light btn-elevate"
      (click)="reset()"
    >
      Reset
    </button>
  </div>
</div>
