<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <ng-container>
        <ng-container>Success</ng-container>
      </ng-container>
    </div>
  </div>
  <div class="overlay overlay-block cursor-default modal-body">
      Change password success! Please re-login to continue.
  </div>
  <div class="modal-footer">
    <ng-container>
      <button
        type="submit"
        class="btn btn-primary btn-elevate"
        (click)="ok()">
        Ok
      </button>
    </ng-container>
  </div>
</div>
