<div class="modal-header">
  <div class="modal-title h4">Match Logs</div>
</div>
<div class="modal-body overlay overlay-block cursor-default">
  <ng-container *ngIf="isLoading">
    <div class="overlay-layer">
      <div class="spinner spinner-lg spinner-primary"></div>
    </div>
  </ng-container>
  <div class="table-responsive angular-bootstrap-table">
    <table class="table table-head-custom table-vertical-center overflow-hidden">
      <thead>
        <th>Date</th>
        <th>Action By</th>
        <th>Action</th>
        <th>Details</th>
      </thead>
      <tbody>
        <tr *ngFor="let item of matchLogs; let i = index">
          <td>{{item.logDate | date: 'MM/dd/yyyy hh:mm a'}}</td>
          <td>{{item.actionBy}}</td>
          <td>{{item.action}}</td>
          <td>{{item.detail}}</td>
      </tbody>
    </table>
  </div>
</div>