<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <ng-container *ngIf="user">
        <ng-container *ngIf="user.id">Edit</ng-container>
        <ng-container *ngIf="!user.id">Create</ng-container>
        user
        <ng-container *ngIf="user.id">'{{ user.username }}'</ng-container>
      </ng-container>
    </div>
  </div>
  <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px">
    <ng-container *ngIf="isLoading$ | async">
      <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="user">
      <form action="#" class="form form-label-right" [formGroup]="formGroup">
        <div class="form-group row">
          <div class="col-lg-12">
            <label class="form-label">Enter Login Email</label>
            <input
              type="email"
              class="form-control form-control-lg form-control-solid"
              name="email"
              placeholder="Email"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('email')"
              [class.is-valid]="isControlValid('email')"
              formControlName="email"
              [readonly]="user.id"
            />
            <div class="valid-feedback" *ngIf="isControlValid('email')">
              Email was entered correct
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'email')"
            >
              Email is required
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('email', 'email')"
            >
              Email format is incorrect
            </div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-12">
            <label class="form-label">Enter Display Name</label>
            <input
              type="text"
              class="form-control form-control-lg form-control-solid"
              name="username"
              placeholder="Login"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('username')"
              [class.is-valid]="isControlValid('username')"
              formControlName="username"
              [readonly]="user.id"
            />
            <div class="valid-feedback" *ngIf="isControlValid('username')">
              Display Name was entered correct
            </div>
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'username')">
              Display Name is required
            </div>
          </div>       
        </div>
        <div class="form-group row">
          <div class="col-lg-12">
            <label>Select User Group</label>
            <select
              class="form-control form-control-lg form-control-solid"
              name="userTypeID"
              formControlName="userTypeID"
            >
              <option *ngFor="let item of userTypeList; let i = index" value={{item.id}}>{{item.name}}</option>
            </select>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-12">
            <label>Select User Status</label>
            <select
              class="form-control form-control-lg form-control-solid"
              name="userStatusID"
              formControlName="userStatusID"
            >
              <option *ngFor="let kvp of userStatusList; let i = index" value={{kvp.key}}>{{kvp.value}}</option>
            </select>
          </div>
        </div>
      </form>
    </ng-container>
  </div>
  <div class="modal-footer">
    <ng-container *ngIf="user">
      <button
        type="submit"
        class="btn btn-primary btn-elevate mr-2"
        (click)="save()"
        [disabled]="formGroup.invalid">
        Save
      </button>
    </ng-container>
    <button
      type="button"
      class="btn btn-light btn-elevate"
      (click)="modal.dismiss()">
      Cancel
    </button>
  </div>
</div>
