
<!-- begin::Alert error-->
<ng-container *ngIf="hasError$ | async">
  <div
    class="mb-10 alert alert-custom alert-light-danger alert-dismissible"
  >
    <div class="alert-text">Current Password is incorrect</div>
  </div>
</ng-container>
<!-- end::Alert error-->
<ng-container *ngIf="user">
  <div class="card card-custom" [formGroup]="formGroup">
    <!--begin::Header-->
    <div class="card-header py-3">
      <div class="card-title align-items-start flex-column">
        <h3 class="card-label font-weight-bolder text-dark">Change Password</h3>
        <span class="text-muted font-weight-bold font-size-sm mt-1">Change your account password</span>
      </div>
      <div class="card-toolbar">
        <button type="submit" [disabled]="formGroup.invalid" class="btn btn-success mr-2" (click)="save()">Save Changes</button>
        <button type="reset" class="btn btn-secondary" (click)="cancel()">Cancel</button>
      </div>
    </div>
    <!--end::Header-->
    <!--begin::Form-->
    <div class="form">
      <div class="card-body">
        <div class="form-group row">
          <div class="col-lg-3 col-xl-2"></div>
          <label class="col-xl-2 col-lg-2 col-form-label text-alert">Current Password</label>
          <div class="col-lg-6 col-xl-4">
            <input type="password"
              class="form-control form-control-lg form-control-solid mb-2"
              placeholder="Current password"
              autocomplete="off"
              formControlName="currentPassword"
              [class.is-invalid]="isControlInvalid('currentPassword')"
              [class.is-valid]="isControlValid('currentPassword')"
            />
            <div class="invalid-feedback" *ngIf="controlHasError('required', 'currentPassword')">Current password is required</div>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-3 col-xl-2"></div>
          <label class="col-xl-2 col-lg-2 col-form-label text-alert">New Password</label>
          <div class="col-lg-6 col-xl-4">
            <input type="password"
              class="form-control form-control-lg form-control-solid"
              placeholder="New password"
              autocomplete="off"
              formControlName="password"
              [class.is-invalid]="isControlInvalid('password')"
              [class.is-valid]="isControlValid('password')" 
            />
          </div>
        </div>
        <div class="form-group row">
          <div class="col-lg-3 col-xl-2"></div>
          <label class="col-xl-2 col-lg-2 col-form-label text-alert">Verify Password</label>
          <div class="col-lg-6 col-xl-4">
            <input type="password"
              class="form-control form-control-lg form-control-solid"
              placeholder="Confirm password"
              autocomplete="off"
              formControlName="cPassword"
              [class.is-invalid]="isControlInvalid('cPassword')"
              [class.is-valid]="isControlValid('cPassword')" 
            />
            <div class="valid-feedback" *ngIf="isControlValid('cPassword')">Password confirmation was entered correct</div>
            <div class="invalid-feedback" *ngIf="controlHasError('ConfirmPassword', 'cPassword')">'Passsword' and 'Confirm Password' didn't match.</div> 
          </div>
        </div>
      </div>
    </div>
    <!--end::Form-->
  </div>
</ng-container>