<div class="login-form login-forgot">
  <!--begin::Form-->
  <ng-container *ngIf="errorState === errorStates.NotSubmitted">
    <!--begin::Title-->
    <div class="pb-13 pt-lg-0 pt-5">
      <h3 class="font-weight-bolder text-dark font-size-h4 font-size-h1-lg">
        Reset Password
      </h3>
      <p class="text-muted font-weight-bold font-size-h4">
        Enter your new Password below
      </p>
    </div>
    <!--end::Title-->

    <!--begin::Form group-->
    <div class="form-group fv-plugins-icon-container has-danger" [formGroup]="forgotPasswordForm" >
      <div class="form-group row">
        <input type="password"
          class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6 is-invalid ng-untouched ng-pristine ng-invalid"
          placeholder="New password"
          autocomplete="off"
          formControlName="password"
          [class.is-invalid]="isControlInvalid('password')"
          [class.is-valid]="isControlValid('password')" 
        />
      </div>
      <div class="form-group row">
        <input type="password"
          class="form-control form-control-solid h-auto py-7 px-6 rounded-lg font-size-h6 is-invalid ng-untouched ng-pristine ng-invalid"
          placeholder="Confirm password"
          autocomplete="off"
          formControlName="cPassword"
          [class.is-invalid]="isControlInvalid('cPassword')"
          [class.is-valid]="isControlValid('cPassword')" 
        />
        <div class="valid-feedback" *ngIf="isControlValid('cPassword')">Password confirmation was entered correct</div>
        <div class="invalid-feedback" *ngIf="controlHasError('ConfirmPassword', 'cPassword')">'Passsword' and 'Confirm Password' didn't match.</div> 
      </div>
    </div>
    <!--end::Form group-->
    <!--begin::Form group-->
    <div class="form-group d-flex flex-wrap pb-lg-0">
      <button
        type="submit"
        id="kt_login_forgot_submit"
        class="btn btn-primary font-weight-bolder font-size-h6 px-8 py-4 my-3 mr-4"
        (click)="submit()"
        [disabled]="forgotPasswordForm.invalid"
      >
        Submit
      </button>
      <a
        routerLink="/auth/login"
        id="kt_login_forgot_cancel"
        class="btn btn-light-primary font-weight-bolder font-size-h6 px-8 py-4 my-3"
      >
        Cancel
      </a>

      <ng-container *ngIf="isLoading$ | async">
        <span class="spinner spinner-primary ml-5"></span>
      </ng-container>
    </div>
    <!--end::Form group-->
    <div></div>
  <!--end::Form-->
  </ng-container>  

  <!-- begin::Alert error-->
  <ng-container *ngIf="errorState === errorStates.HasError">
    <div
      class="mb-10 alert alert-custom alert-light-danger alert-dismissible"
    >
      <div class="alert-text">Invalid token. Please use the "forgot password" module to get a new link.</div>
      
      <a
        routerLink="/auth/forgot-password"
        class="swal2-confirm btn font-weight-bold btn-light-primary"
      >
        Ok
      </a>
    </div>
  </ng-container>
  <!-- end::Alert error-->
  <ng-container *ngIf="errorState === errorStates.NoError">
    <div
      class="card card-custom bgi-no-repeat gutter-b"
      style="
        height: 175px;
        background-color: #4ab58e;
        background-position: calc(100% + 1rem) bottom;
        background-size: 25% auto;
        background-image: url(assets/media/svg/humans/custom-1.svg);
      "
    >
      <!--begin::Body-->
      <div class="card-body d-flex align-items-center">
        <div class="py-2">
          <h3 class="text-white font-weight-bolder mb-3">Reset password successful!</h3>
          <p class="text-white font-size-lg">
            Please login using your new password<br />
          </p>
          <a
            routerLink="/auth/login"
            class="swal2-confirm btn font-weight-bold btn-light-primary"
          >
            Ok, got it!
          </a>
        </div>
      </div>
      <!--end::Body-->
    </div>
  </ng-container>
</div>

<ng-template
  #formError
  let-control="control"
  let-message="message"
  let-validation="validation"
>
  <ng-container
    *ngIf="control.hasError(validation) && (control.dirty || control.touched)"
  >
    <div class="fv-plugins-message-container">
      <div class="fv-help-block">
        {{ message }}
      </div>
    </div>
  </ng-container>
</ng-template>
