<!-- begin::Alert error-->
<ng-container *ngIf="_showMessage$ | async">
  <div class="mb-10 alert alert-custom alert-light-success alert-dismissible">
    <div class="success-text">Save changes successful!</div>
  </div>
</ng-container>
<ng-container>
  <div class="card card-custom">
    <!--begin::Header-->
    <div class="card-header py-3">
      <div class="card-title align-items-start flex-column">
        <h3 class="card-label font-weight-bolder text-dark">User Group Permission</h3>
        <span class="text-muted font-weight-bold font-size-sm mt-1">Permission by User Group</span>
      </div>
      <div class="card-toolbar" *ngIf="authService.hasWritePermission(MODULE.UserTypePermission)">
        <button type="submit" [disabled]="_filterGroup.invalid" class="btn btn-primary mr-2" (click)="save()"><em class="fas fa-save"></em> Save Changes</button>
        <button type="reset" class="btn btn-secondary mr-2" (click)="reset()"><em class="fas fa-undo"></em> Reset</button>
        <button type="submit" class="btn btn-success mr-2" (click)="refreshCache()"><em class="fas fa-retweet"></em> Refresh Cache</button>
      </div>
    </div>
    <!--end::Header-->
    <!--begin::Form-->
    <div class="form">
      <div class="card-body">        
        <!-- begin: Filtration form -->
        <div class="form form-label-right">
          <div class="form-group row">
            <div class="col-lg-12">
              <div class="row" [formGroup]="_filterGroup">
                <div class="col-lg-2">
                  <select class="form-control" name="userTypeID" placeholder="Filter by User Type" formControlName="userTypeID">
                    <option *ngFor="let item of _userTypeList$| async" value={{item.id}}>{{item.name}}</option>
                  </select><small class="form-text text-muted"><strong>Filter</strong> by User Type</small>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- end: Filtration form -->
        <div class="table-responsive angular-bootstrap-table">
          <ngb-accordion #acc="ngbAccordion">
            <ngb-panel>
              <ng-template ngbPanelTitle>
              <span class="card-header--title">Module Permission</span>
              </ng-template>
              <ng-template ngbPanelContent>
                <!-- begin:Module Table -->
                <table class="table table-head-custom table-vertical-center overflow-hidden">
                  <thead>
                    <th>
                      Module
                    </th>
                    <th>
                      Read
                    </th>
                    <th>
                      Write
                    </th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of _items$ | async">
                      <td>{{ item.module }}</td>
                      <td><input type="checkbox" [(ngModel)]="item.read"></td>
                      <td><input type="checkbox" [(ngModel)]="item.write"></td>
                    </tr>
                  </tbody>
                </table>
                <!-- end: Module Table -->
              </ng-template>
            </ngb-panel>
            <ngb-panel>
              <ng-template ngbPanelTitle>
                <span class="card-header--title">Sport Permission</span>
              </ng-template>
              <ng-template ngbPanelContent>
                <!-- begin:Module Table -->
                <table class="table table-head-custom table-vertical-center overflow-hidden">
                  <thead>
                    <th>
                      Sport
                    </th>
                    <th>
                      Access
                    </th>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of _sportPermissions$ | async">
                      <td>{{ item.name }}</td>
                      <td><input type="checkbox" [(ngModel)]="item.isSelected"></td>
                    </tr>
                  </tbody>
                </table>
                <!-- end: Module Table -->
              </ng-template>
            </ngb-panel>
          </ngb-accordion>
        </div>
      </div>
    </div>
    <!--end::Form-->
  </div>
</ng-container>