<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <ng-container *ngIf="league">
        <ng-container *ngIf="league.id">Edit</ng-container>
        <ng-container *ngIf="!league.id">Create</ng-container>
        League
        <ng-container *ngIf="league.id">'{{ league.displayName }}'</ng-container>
      </ng-container>
    </div>
  </div>
  <div class="overlay overlay-block cursor-default modal-body" style="min-height: 404px">
    <ng-container *ngIf="isLoading$ | async">
      <div class="overlay-layer bg-transparent">
        <div class="spinner spinner-lg spinner-success"></div>
      </div>
    </ng-container>
    <ng-container *ngIf="msg$ | async as msg">
      <div
        class="mb-10 alert alert-custom alert-light-danger alert-dismissible"
      >
        <div class="alert-text">{{msg}}</div>
      </div>
    </ng-container>
    <ng-container *ngIf="league">
      <form action="#" class="form form-label-right" [formGroup]="formGroup">
        <div class="form-group row">
          <div class="col-lg-12">
            <label class="form-label">Enter Display Name</label>
            <input
              type="displayName"
              class="form-control form-control-lg form-control-solid"
              name="displayName"
              placeholder="Name"
              autocomplete="off"
              [class.is-invalid]="isControlInvalid('displayName')"
              [class.is-valid]="isControlValid('displayName')"
              formControlName="displayName"
            />
            <div
              class="invalid-feedback"
              *ngIf="controlHasError('required', 'displayName')"
            >
              Display Name is required
            </div>
          </div>  
        </div>  
        <div class="form-group row">        
          <div class="col-lg-12">
            <label class="form-label">League Icon (Light)</label>
            <div>
              <img alt="League logo light" *ngIf="league.icon" [src]='apiURL + "/league/getleagueicon/" + league.icon' style="max-height: 50px;max-width: 50px;"/>
              <div style="vertical-align:middle;">
                <button class="btn btn-primary"
                  (click)="openLogoModal(league.icon, true)">
                  <span class="fas fa-upload"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group row">        
          <div class="col-lg-12">
            <label class="form-label">League Icon (Dark)</label>
            <div>
              <img alt="League logo dark" *ngIf="league.iconDark" [src]='apiURL + "/league/getleagueicon/" + league.iconDark' style="max-height: 50px;max-width: 50px;"/>
              <div style="vertical-align:middle;">
                <button class="btn btn-primary"
                  (click)="openLogoModal(league.iconDark, false)">
                  <span class="fas fa-upload"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
      </form>
    </ng-container>
  </div>
  <div class="modal-footer">
    <ng-container *ngIf="league">
      <button
        type="submit"
        class="btn btn-primary btn-elevate mr-2"
        (click)="save()"
        [disabled]="formGroup.invalid">
        Save
      </button>
    </ng-container>
    <button
      type="button"
      class="btn btn-light btn-elevate"
      (click)="modal.dismiss()">
      Cancel
    </button>
  </div>
</div>
