:host {
  .enable-ellipsis {
    width: 200px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    display: inline-block;
  }

  .tooltip {
    height: 3em;
    width: 10em;
    background: yellow;
  }
}
