<div class="card card-custom gutter-b">
  <div class="card-header">
    <div class="card-title">
      <h3 class="card-label">Match list</h3>
    </div>
    <div class="card-toolbar">
      <button type="button" class="btn btn-primary" (click)="refresh()"><em class="fas fa-retweet"></em> Refresh</button>
    </div>
  </div>
  <div class="card-body">
    <!-- begin: Filtration form -->
    <div class="form form-label-right">
      <div class="form-group row">
        <div class="col-lg-12">
          <div class="row" [formGroup]="filterGroup">            
            <div class="col-lg-2">              
              <input type="text" class="form-control" name="matchID" placeholder="Search" value=""
              formControlName="matchID" /><small class="form-text text-muted"><strong>Search</strong> by Match ID</small>
            </div>            
            <div class="col-lg-2">              
              <select class="form-control" name="sportTypeID" placeholder="Filter by Sport" formControlName="sportTypeID">
                <option value="">All</option>
                <option *ngFor="let item of sportTypeList$ | async" value={{item.id}}>{{item.name}}</option>
              </select><small class="form-text text-muted"><strong>Search</strong> by Sport</small>
            </div> 
            <div class="col-lg-2">              
              <input type="text" class="form-control" name="tournament" placeholder="Search" value=""
              formControlName="tournament" /><small class="form-text text-muted"><strong>Search</strong> by Tournament</small>
            </div>
            <div class="col-lg-2">              
              <input type="text" class="form-control" name="homeTeam" placeholder="Search" value=""
              formControlName="homeTeam" /><small class="form-text text-muted"><strong>Search</strong> by Home Team</small>
            </div>
            <div class="col-lg-2">              
              <input type="text" class="form-control" name="awayTeam" placeholder="Search" value=""
              formControlName="awayTeam" /><small class="form-text text-muted"><strong>Search</strong> by Away Team</small>
            </div>
            <div class="col-lg-2">  
              <div class="input-group">            
                <input class="form-control" placeholder="mm/dd/yyyy hh:mm tt" name="matchStartDate" formControlName="matchStartDate" 
                      [owlDateTimeTrigger]="dtMatchStartDate" [owlDateTime]="dtMatchStartDate" autocomplete="off">
                <owl-date-time #dtMatchStartDate></owl-date-time>
              </div>
              <small class="form-text text-muted"><strong>Search</strong> by Match Date Range (From)</small>
            </div>
            <div class="col-lg-2">  
              <div class="input-group  d-flex align-items-center">   
                <input class="form-control" placeholder="mm/dd/yyyy hh:mm tt"
                      name="matchEndDate" formControlName="matchEndDate" [owlDateTimeTrigger]="dtMatchEndDate" [owlDateTime]="dtMatchEndDate">
                <owl-date-time #dtMatchEndDate></owl-date-time>
              </div>
              <small class="form-text text-muted"><strong>Search</strong> by Match Date Range (To)</small>
            </div>
            <div class="col-lg-2">
              <select class="form-control" name="isPublishedM88" placeholder="Filter by Published" formControlName="isPublishedM88">
                <option value="">All</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select><small class="form-text text-muted"><strong>Filter</strong> by Is Published M88</small>
            </div>
            <div class="col-lg-2">
              <select class="form-control" name="isPublishedMGoal88" placeholder="Filter by Published" formControlName="isPublishedMGoal88">
                <option value="">All</option>
                <option value="true">Yes</option>
                <option value="false">No</option>
              </select><small class="form-text text-muted"><strong>Filter</strong> by Is Published MGoal88</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end: Filtration form -->
    <!-- begin: Grouping -->
    <ng-container *ngIf="grouping.getSelectedRowsCount()">
      <div class="form">
        <div class="row align-items-center form-group-actions margin-top-20 margin-bottom-20">
          <div class="col-xl-12">
            <div class="form-group form-group-inline">
              <div class="form-label form-label-no-wrap">
                <label class="font-bold font-danger"><span>Selected records count:
                    <strong>{{ grouping.getSelectedRowsCount() }}</strong></span></label>
              </div>
              <div>
                <button type="button" class="btn btn-light-primary font-weight-bolder font-size-sm mr-1"
                  (click)="publishSelected()">
                  <em class="fas fa-upload"></em> Publish
                </button>
                <button type="button" class="btn btn-danger font-weight-bolder font-size-sm mr-1"
                  (click)="unpublishSelected()">
                  <em class="fas fa-times"></em> Unpublish
                </button>                
                <button type="button" class="btn btn-light-primary font-weight-bolder font-size-sm mr-1"
                  (click)="assignGroup()">
                  <em class="fas fa-upload"></em> Assign Group
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
    <!-- end: Grouping -->
    <!-- begin:Table -->
    <div class="table-responsive angular-bootstrap-table">
      <table class="table table-head-custom table-vertical-center overflow-hidden">
        <thead>
          <th class="selection-cell-header" data-row-selection="true">
            <label class="checkbox checkbox-single"><input type="checkbox" (click)="grouping.selectAllRows()"
                [checked]="grouping.checkAreAllRowsSelected()" /><span></span></label>
          </th>
          <th>
            Match ID
            <app-sort-icon column="matchID" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Sport
            <app-sort-icon column="sportType" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Tournament
            <app-sort-icon column="tournament" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Home Team
            <app-sort-icon column="homeTeam" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Away Team
            <app-sort-icon column="awayTeam" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Match Date
            <app-sort-icon column="matchDate" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th>
            Group
          </th>
          <th>
            Published
            <app-sort-icon column="isPublished" [activeColumn]="sorting.column" [activeDirection]="sorting.direction"
              (sort)="sort($event)"></app-sort-icon>
          </th>
          <th *ngIf="authService.hasWritePermission(MODULE.SBFeedMatches)">ACTIONS</th>
        </thead>
        <tbody>
          <tr *ngFor="let match of matchService.items$ | async">
            <td class="selection-cell">
              <label class="checkbox checkbox-single"><input type="checkbox" (click)="grouping.selectRow(match.id)"
                  [checked]="grouping.isRowSelected(match.id)" />
                <span></span>
              </label>
            </td>
            <td>{{ match.id }}</td>
            <td>{{ match.sportType }}</td>
            <td><div class="enable-ellipsis" title="{{ match.tournament }}">{{ match.tournament }}</div></td>
            <td><div class="enable-ellipsis" title="{{ match.homeTeam }}">{{ match.homeTeam }}</div></td>
            <td><div class="enable-ellipsis" title="{{ match.awayTeam }}">{{ match.awayTeam }}</div></td>
            <td>{{ match.matchDate| date: 'MM/dd/yyyy hh:mm a' }}</td>
            <td [innerHTML]='matchGroupTransform(match.matchGroup)'></td>
            <td>
              <span *ngIf="match.isPublishedM88" class="label label-lg label-inline label-light-primary mr-2">
                M88
              </span>
              <span *ngIf="match.isPublishedMGoal88" class="label label-lg label-inline label-light-success">
                MGOAL88
              </span>
            </td>
            <td *ngIf="authService.hasWritePermission(MODULE.SBFeedMatches)">              
              <a *ngIf="!match.isPublishedM88 || !match.isPublishedMGoal88" class="btn btn-icon btn-light-primary btn-hover-primary btn-sm mr-2"
                (click)="publishSingle(match.id)">
                <em class="fas fa-upload fas"></em>
              </a>
              <a *ngIf="match.isPublishedM88 || match.isPublishedMGoal88" class="btn btn-icon btn-light-danger btn-hover-danger btn-sm mr-2"
                (click)="unpublishSingle(match.id)">
                <em class="fas fa-times "></em>
              </a>
              <a class="btn btn-icon btn-light-primary btn-hover-primary btn-sm mr-2"
                (click)="showLogs(match.id)">
                <em class="fas fa-clipboard-list"></em>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- end: Table -->
    <app-paginator class="d-flex justify-content-between align-items-center flex-wrap" [paginator]="paginator"
      [isLoading]="isLoading" (paginate)="paginate($event)"></app-paginator>
  </div>
</div>