<!-- begin::Alert error-->
<ng-container *ngIf="_showMessage$ | async">
  <div class="mb-10 alert alert-custom alert-light-success alert-dismissible">
    <div class="success-text">Save changes successful!</div>
  </div>
</ng-container>
<div class="row">
  <ng-container *ngIf="authService.hasWritePermission(MODULE.OddsExtractSetting)">
    <div class="col-lg-6">
        <div class="card card-custom">
          <!--begin::Header-->
          <div class="card-header py-3">
            <div class="card-title align-items-start flex-column">
              <h3 class="card-label font-weight-bolder text-dark">Odds Import Data</h3>
              <span class="text-muted font-weight-bold font-size-sm mt-1">Setting to enable/disable odds import by Sport and Odds Type</span>
            </div>
            <div class="card-toolbar">
              <button type="submit" [disabled]="_formGroup.invalid" class="btn btn-primary mr-2" (click)="saveOT()"><em class="fas fa-save"></em> Save Changes</button>
              <button type="reset" class="btn btn-secondary" (click)="resetOT()"><em class="fas fa-undo"></em> Reset</button>
            </div>
          </div>
          <!--end::Header-->
        
          <!--begin::Body-->
          <div class="card-body">
            <!--begin::Item-->
            <!-- begin:Table -->
              <div class="table-responsive angular-bootstrap-table">
                <table class="table table-head-custom table-vertical-center overflow-hidden">
                  <thead>
                    <th>
                      Sport
                    </th>
                    <th *ngFor="let item of _oddsTypeList$ | async">
                      {{item}}
                    </th>
                    
                  </thead>
                  <tbody>
                    <tr *ngFor="let sItem of _sportTypeList$ | async">
                      <td>{{ sItem }}</td>
                      <td *ngFor="let oItem of _oddsTypeList$ | async">
                        <span class="switch switch-icon" *ngFor="let item of findSetting(sItem, oItem) ">
                          <label>
                            <input
                              type="checkbox"
                              name="builder[header][self][fixed][desktop]"
                              [(ngModel)]="item.isSelected"
                            />
                            <span></span>
                          </label>
                        </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <!-- end: Table -->
            <!--end::Item-->
          </div>
          <!--end: Card Body-->
        </div>
        <!--end: Card-->
    </div>
  </ng-container>
  <div class="col-lg-6">
    <ng-container *ngIf="_workerServiceSession$ | async as _workerServiceSession">
      <div class="card card-custom" [formGroup]="_formGroup">
        <!--begin::Header-->
        <div class="card-header py-3">
          <div class="card-title align-items-start flex-column">
            <h3 class="card-label font-weight-bolder text-dark">Worker Service</h3>
            <span class="text-muted font-weight-bold font-size-sm mt-1">Change worker service settings</span>
          </div>
          <div class="card-toolbar" *ngIf="authService.hasWritePermission(MODULE.WorkerServiceSetting)">
            <button type="submit" [disabled]="_formGroup.invalid" class="btn btn-primary mr-2" (click)="save()"><em class="fas fa-save"></em> Save Changes</button>
            <button type="reset" class="btn btn-secondary" (click)="reset()"><em class="fas fa-undo"></em> Reset</button>
          </div>
        </div>
        <!--end::Header-->
        <!--begin::Form-->
        <div class="form">
          <div class="card-body">
            <div class="form-group row">
              <label class="col-xl-5 col-lg-5 col-form-label text-alert">SBFeed Pull Matches Interval (Minute)</label>
              <div class="col-lg-3 col-xl-3">
                <input type="text"
                  class="form-control form-control-lg form-control-solid mb-2"
                  placeholder="Hour"
                  autocomplete="off"
                  name="sbFeedMatchUpdateIntervalHour"
                  formControlName="sbFeedMatchUpdateIntervalHour"
                  [class.is-invalid]="isControlInvalid('sbFeedMatchUpdateIntervalHour')"
                  [class.is-valid]="isControlValid('sbFeedMatchUpdateIntervalHour')" 
                />
                <div class="invalid-feedback" *ngIf="controlHasError('required', 'sbFeedMatchUpdateIntervalHour')">This is required</div>
              </div>
              <div class="col-lg-4 col-xl-4 col-form-label">{{ _workerServiceSession.lastPullSBFeedMatch| date: 'MM/dd/yyyy hh:mm a' }}</div>
            </div>
            <div class="form-group row">
              <label class="col-xl-5 col-lg-5 col-form-label text-alert">SBFeed Pull Odds Interval (Sec)</label>
              <div class="col-lg-3 col-xl-3">
                <input type="text"
                  class="form-control form-control-lg form-control-solid"
                  placeholder="Seconds"
                  autocomplete="off"
                  name="sbFeedOddsUpdateIntervalSec"
                  formControlName="sbFeedOddsUpdateIntervalSec"
                  [class.is-invalid]="isControlInvalid('sbFeedOddsUpdateIntervalSec')"
                  [class.is-valid]="isControlValid('sbFeedOddsUpdateIntervalSec')"
                />
                <div class="invalid-feedback" *ngIf="controlHasError('required', 'sbFeedOddsUpdateIntervalSec')">This is required</div>
              </div>
              <div class="col-lg-4 col-xl-4 col-form-label">{{ _workerServiceSession.lastPullSBFeedOdds| date: 'MM/dd/yyyy hh:mm:ss a' }}</div>
            </div>
            <div class="form-group row">
              <label class="col-xl-5 col-lg-5 col-form-label text-alert">GLive Pull Matches Interval (Minute)</label>
              <div class="col-lg-3 col-xl-3">
                <input type="text"
                  class="form-control form-control-lg form-control-solid"
                  placeholder="Hour"
                  autocomplete="off"
                  name="gLiveMatchUpdateIntervalHour"
                  formControlName="gLiveMatchUpdateIntervalHour"
                  [class.is-invalid]="isControlInvalid('gLiveMatchUpdateIntervalHour')"
                  [class.is-valid]="isControlValid('gLiveMatchUpdateIntervalHour')" 
                />
                <div class="invalid-feedback" *ngIf="controlHasError('required', 'gLiveMatchUpdateIntervalHour')">This is required</div>
              </div>
              <div class="col-lg-4 col-xl-4 col-form-label">{{ _workerServiceSession.lastPullGLiveMatch| date: 'MM/dd/yyyy hh:mm a' }}</div>
            </div>
          </div>
        </div>
        <!--end::Form-->
      </div>
    </ng-container>
  </div>  
</div>
