<div class="modal-content">
  <div class="modal-header">
    <div class="modal-title h4" id="example-modal-sizes-title-lg">
      <ng-container>
        <ng-container>Reset Password Confirmation</ng-container>
      </ng-container>
    </div>
  </div>
  <ng-container *ngIf="!_isYes">
    <div class="overlay overlay-block cursor-default modal-body" *ngIf="_userModel$ | async as _userModel">
        Are you sure you want to reset password of {{_userModel.username}}?
    </div>
    <div class="modal-footer">
      <button
        type="submit"
        class="btn btn-primary btn-elevate mr-2"
        (click)="yes()">
        Yes
      </button>
      <button
        type="button"
        class="btn btn-light btn-elevate"
        (click)="modal.dismiss()">
        No
      </button>
    </div>
  </ng-container>
  <ng-container *ngIf="_isYes">
    <div class="overlay overlay-block cursor-default modal-body"  *ngIf="_userModel$ | async as _userModel">
        An email has been sent to {{_userModel.email}} for reset password procedure.
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-light btn-elevate mr-2"
        (click)="ok()">
        Ok
      </button>
    </div>
  </ng-container>
</div>
